.banner {
  background-color: #039;
  color: #fff;
  padding: .5em;
}

.banner .logo {
  float: left;
}

.banner .wordmark {
  margin-left: 200px;
  padding: .25em .5em;
  border-left: 1px solid #fff;
}

.banner .wordmark h1, h2 {
  margin: .25em 0;
}

.banner .wordmark h1 {
  font-size: 1.3em;
}

.banner .wordmark h2 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

@media (max-width: 767px) {
  .banner .wordmark {
    clear: both;
    margin-left: 0;
    border-left: 0;
  }

  .banner .wordmark h1 {
    font-size: 1.2em;
  }

  .banner .wordmark h2 {
    font-size: 0.9em;
  }
}

.navbar {
  background-color: #039;
  color: #fff;
  padding: 0.5em;
  border-radius: 0;
  border-top: 1px solid #fff;
}

.container .jumbotron {
  border-radius: 0;
}
